body
{
    background-image: linear-gradient(to bottom left, magenta,  purple, rgb(0, 110, 255), aqua);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#approve-title
{
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-size: 30px;
    width: 90%;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

/* EVENTS ***************************************************************/
.thisEvent
{
    visibility: visible;
    position: relative;
    top: 30vh;
    height: 35vh;
    width: 80vw;
    left: 10vw;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

#eventName
{
    font-size: 20px;
    font-weight: bold;
}

#eventCat
{
    font-style: italic;
}

#approve-button
{
    position: absolute;
    bottom: 1vh;
    right: 5vw;
    font-size: 15px;
    height: 30px;
    width: 100px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* BUTTON HOVER *********************************************************/
#approve-button:hover
{
    color: white;
    background-color: rgb(51, 153, 255);
}
