body
{
    background-image: linear-gradient(to bottom left, magenta,  purple, rgb(0, 110, 255), aqua);
    margin: 0;
    overflow-y: scroll;
    overflow: auto;
    overflow-x: hidden;
}

/* CREATE BOX ***********************************************************/
.create-title
{
    position: absolute;
    top: 2vh;
    font-size: 30px;
    width: 90%;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#rso-club-div
{
    position: absolute;
    top: 15vh;
    height: 70vh;
    width: 75vw;
    left: 10vw;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

#rso-event-div
{
    position: absolute;
    top: 15vh;
    height: 70vh;
    width: 75vw;
    left: 10vw;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

#public-event-div,
#private-event-div
{
    position: absolute;
    top: 15vh;
    height: 70vh;
    width: 75vw;
    left: 10vw;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

label
{
    position: relative;
    top: 8vh;
}

input[type=text]
{
    position: relative;
    top: 8vh;
    height: 4vh;
    width: 50vw;
    border-radius: 5px;
}

input[type=datetime-local]
{
    position: relative;
    top: 8vh;
    height: 4vh;
    width: 50vw;
    border-radius: 5px;
}

textarea
{
    position: relative;
    top: 8vh;
    width: 50vw;
    border-radius: 5px;
}

.buttons
{
    position: absolute;
    bottom: 5vh;
    left: 50%;
    font-size: 15px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* BUTTON HOVER *********************************************************/
#search-button:hover
{
    color: black;
    background-color: white;
}

.buttons:hover
{
    color: white;
    background-color: rgb(51, 153, 255);
}
