body
{
    background-image: linear-gradient(to bottom left, magenta,  purple, rgb(0, 110, 255), aqua);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* HEADER ***************************************************************/
#studentHeader
{
    visibility: visible;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 20px;
    height: 5vh;
    width: 100%;
    background-color: black;
}

#adminHeader
{
    visibility: hidden;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 20px;
    height: 5vh;
    width: 100%;
    background-color: black;
}

#superHeader
{
    visibility: hidden;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 20px;
    height: 5vh;
    width: 100%;
    background-color: black;
}

.events-button
{
    visibility: visible;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 20px;
    height: 100%;
    width: 20%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    border: none;
}

.events-dropdown
{
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 20px;
    height: 100%;
    width: 20%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    border: none;
}

.create-dropdown
{
    position: absolute;
    top: 0%;
    left: 20%;
    font-size: 20px;
    height: 100%;
    width: 20%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    border: none;
}

.join-button
{
    position: absolute;
    top: 0%;
    left: 40%;
    font-size: 20px;
    height: 100%;
    width: 20%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    border: none;
}

/* CREATE BOX ***********************************************************/
.create-title
{
    position: relative;
    top: 2vh;
    font-size: 30px;
    width: 90%;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.createDiv
{
    position: absolute;
    top: 20vh;
    height: 70vh;
    width: 75vw;
    left: 10vw;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

label
{
    position: relative;
    top: 5vh;
}

input[type=text]
{
    position: relative;
    top: 5vh;
    height: 4vh;
    width: 50vw;
    border-radius: 5px;
}

input[type=datetime-local]
{
    position: relative;
    top: 5vh;
    height: 4vh;
    width: 50vw;
    border-radius: 5px;
}

textarea
{
    position: relative;
    top: 5vh;
    width: 50vw;
    border-radius: 5px;
}

.buttons
{
    position: absolute;
    bottom: 1vh;
    left: 33vw;
    font-size: 15px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* RSO CLUB *************************************************************/
#rso-club-div
{
    visibility: visible;
}

/* RSO EVENT ************************************************************/

#rso-event-div
{
    visibility: visible;
    height: 85vh;
}

/* PUBLIC EVENT *********************************************************/

#public-event-div
{
    visibility: visible;
    height: 75vh;
}

/* PRIVATE EVENT ********************************************************/

#private-event-div
{
    visibility: visible;
    height: 75vh;
}

/* BUTTON HOVER *********************************************************/
.events-button:hover
{
    color: black;
    background-color: white;
}

.events-dropdown:hover
{
    color: black;
    background-color: white;
}

.create-dropdown:hover
{
    color: black;
    background-color: white;
}

.join-button:hover
{
    color: black;
    background-color: white;
}

#search-button:hover
{
    color: black;
    background-color: white;
}

.buttons:hover
{
    color: white;
    background-color: rgb(51, 153, 255);
}
