body
{
    background-image: linear-gradient(to bottom left, magenta,  purple, rgb(0, 110, 255), aqua);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* HEADER ***************************************************************/
.header
{
    padding: 5px;
    width: 100%;
    background: black;
}

.events-button
{
    visibility: visible;
	position: absolute;
    top: 3%;
    left: 2%;
}

.events-dropdown
{
    visibility: hidden;
	position: absolute;
    top: 3%;
    left: 2%;
}

.create-dropdown
{
	position: absolute;
    top: 3%;
    left: 20%;
}

.join-button
{
	position: absolute;
    top: 3%;
    left: 40%;
}

/* RSO CLUB *************************************************************/
.createDiv
{
    position: absolute;
    top: 20vh;
    width: 75vw;
    left: 10vw;
    background-color: white;
    color: black;
    text-align: left;
    background-color: white;
    padding-left: 5px;
    border-radius: 3%;
}

#rso-club-div
{
    visibility: hidden;
}

input[type=text]
{
    width: 50%;
    border-radius: 2%;
}

/* RSO EVENT ************************************************************/

#rso-event-div
{
    visibility: visible;
}

/* PUBLIC EVENT *********************************************************/

#public-event-div
{
    visibility: hidden;
}

/* PRIVATE EVENT ********************************************************/

#private-event-div
{
    visibility: hidden;
}

