/* background for whole website */
body
{
    background-image: linear-gradient(to bottom left, magenta,  purple, rgb(0, 110, 255), aqua);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* title for login page */
#title
{
    position: absolute;
    padding-top: 8vh;
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

/* white box for login page */
#loginDiv
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 50%;
    width: 30%;
    border-radius: 10px;
    background-color: white;
}

/* title within Login */
#inner-title
{
    position: absolute;
    font-size: 30px;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.loginLabel
{
    position: relative;
    font-size: 18px;
    top: 8vh;
    text-align: left;
}

/* all input text boxes */
input[type="text"],input[type="password"]
{
    position: relative;
    top: 8vh;
    height: 10%;
    width: 100%;
    padding: 2px;
    text-align: left;
    margin: 0;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

/* login & register button */
#loginButton
{
    position: absolute;
    bottom: 10vh;
    left: 2vw;
    font-size: 20px;
    border-radius: 25px;
    height: 8%;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}
#registerButton
{
    position: absolute;
    bottom: 10vh;
    right: 2vw;
    font-size: 20px;
    border-radius: 25px;
    height: 8%;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* display when failed login */
#loginResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* white box for register page */
#registerDiv
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 70%;
    width: 30%;
    text-align: center;
    font-size: 45px;
    margin: 0;
    border-radius: 10px;
    background-color: white;
}

#register-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}


/* hovering over a button changes color */
.buttons:hover
{
    color: black;
    background-color: grey;
    opacity: 50%;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}