/* background for whole website */
body
{
    background-image: linear-gradient(to bottom left, magenta,  purple, rgb(0, 110, 255), aqua);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#title
{
    position: absolute;
    padding-top: 8vh;
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

/* LOGIN ****************************************************************/
#loginDiv
{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 50%;
    width: 30%;
    border-radius: 10px;
    background-color: white;
}

#inner-title
{
    position: absolute;
    font-size: 30px;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.loginLabel
{
    position: relative;
    font-size: 18px;
    top: 8vh;
    text-align: left;
}

.loginInput
{
    position: relative;
    top: 8vh;
    height: 30px;
    width: 100%;
    padding: 2px;
    text-align: left;
    margin: 0;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#loginButton
{
    position: absolute;
    bottom: 10vh;
    left: 2vw;
    font-size: 20px;
    border-radius: 25px;
    height: 8%;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

#registerButton1
{
    position: absolute;
    bottom: 10vh;
    right: 2vw;
    font-size: 20px;
    border-radius: 25px;
    height: 8%;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

#loginResult
{
    position: absolute;
    font-size: 30px;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: darkred;
}

/* REGISTER *************************************************************/
#registerDiv
{
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 60%;
    width: 30%;
    border-radius: 10px;
    background-color: white;
}

#register-title
{
    position: absolute;
    font-size: 30px;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.registerLabel
{
    position: relative;
    font-size: 18px;
    top: 6vh;
    text-align: left;
}

.registerInput
{
    position: relative;
    top: 6vh;
    height: 30px;
    width: 100%;
    padding: 2px;
    text-align: left;
    margin: 0;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#registerButton2
{
    position: absolute;
    bottom: 2vh;
    left: 10vw;
    font-size: 20px;
    border-radius: 25px;
    height: 8%;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* BUTTON HOVER *********************************************************/
#loginButton:hover
{
    color: white;
    background-color: rgb(51, 153, 255);
}

#registerButton1:hover
{
    color: white;
    background-color: rgb(51, 153, 255);
}

#registerButton2:hover
{
    color: white;
    background-color: rgb(51, 153, 255);
}