/* background for whole website */
body
{
    background-color: gold;
}

/* title for login page */
#title
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

/* white box for login page */
#loginDiv
{
    font-size: 30px;
    height: 70%;
    width: 40%;
    margin-left: 15%;
    padding: 25px;
    background-color: white;
}

/* title within loginDiv */
#inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

/* login button within loginDiv */
#loginButton
{
    font-size: 30px;
    border-radius: 25px;
    width: 20%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* register button within loginDiv */
#registerButton
{
    font-size: 30px;
    border-radius: 25px;
    width: 20%;
    margin-right: 50%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* display when failed login */
#loginResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* white box for register page */
#registerDiv
{
    font-size: 30px;
    height: 70%;
    width: 40%;
    margin-left: 15%;
    padding: 25px;
    background-color: white;
}

/* hovering over a button changes color */
.buttons:hover
{
    color: black;
    background-color: grey;
    opacity: 50%;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

/* all input text boxes */
input[type="text"],input[type="password"]
{
    border-radius: 25px;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

/*
#logoutButton
{
    width: 20%;
    margin-left: 40%;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult
{
    display: none;
}

#colorAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
*/
